In [1]:
print("Dit is output :)")

[1] "Dit is output :)"

In [6]:
a <- 4
b = 11

In [7]:
c <- a + b

In [8]:
c

[1] 15

In [9]:
# een vector 'woonplaatsen' aanmaken die 3 waarden bevat
woonplaatsen <- c("Almere", "Katwijk", "Utrecht")
# de waarden van de 'woonplaatsen' vector bekijken
woonplaatsen

[1] "Almere"  "Katwijk" "Utrecht"

In [11]:
woonplaatsen[1]

[1] "Almere"