# R tutorial

Een boodschap "printen". Zoals bij elke programmeertaal start je met de legendarische woorden ["Hello, World!"](https://en.wikipedia.org/wiki/%22Hello,_World!%22_program)

In [ ]:
print("hello, world")

Commentaar toevoegen op een lijn (= code die niet wordt uitgevoerd).

In [ ]:
# op deze manier kan je commentaar toevoegen aan je code

## Variabelen

Variable definiëren

In [ ]:
a <- 6

In [ ]:
b = 11

Waarde gedefiniëerde variable opvragen

In [ ]:
a

In [ ]:
b

In [ ]:
c

In [ ]:
d

De variabele _d_ bestaat nog niet. Variabele _c_ heeft al een andere _standaard_ betekenis in R.

We (her)definiëren _c_ vanuit _a_ en _b_.

In [ ]:
c <- a + b

In [ ]:
c

Geef nu _a_ of _b_ een andere waarde

Welke waarde heeft _c_?

## Vectoren

In [ ]:
# een vector 'woonplaatsen' aanmaken die 3 waarden bevat
woonplaatsen <- c("Almere", "Katwijk", "Utrecht")
# de waarden van de 'woonplaatsen' vector bekijken
woonplaatsen

In [ ]:
woonplaatsen[1]

## Dataset inlezen en verwerken

In [ ]:
file <- 'datasets/geboorten2002.xls'

In [ ]:
file

We gaan het bestand inlezen in R met de functie `read.csv`.

Typ `help(...)` om uitleg te krijgen over een functie

In [ ]:
help(read.csv)

In [ ]:
data <- read.csv(file)

In [ ]:
View(data)

Hoeveel rijen bevat de dataset?

In [ ]:
nrow(data)

Hoeveel kolommen bevat de dataset?

In [ ]:
ncol(data)

Wat zijn de namen van de kolommen?

In [ ]:
colnames(data)

## opdracht 1

Bereken de oppervlakte van een cirkel die een doorsnede van 11 meter heeft.

In [43]:
d = 11
r = d/2
S = pi * r^2

print(S)

[1] 95.03318

## opdracht 2

Gebruik de stelling van Pythagoras om de schuine zijde te berekenen bij een rechthoekige driehoek waarvan de rechthoekszijden 11cm en 4 cm zijn.

In [45]:
a = 4
b = 11
c = sqrt(a^2 + b^2)

print(c)

[1] 11.7047

## opdracht 3

Hoeveel geld heb je op je spaarrekening na 25 jaar als je 1000 euro vastzet aan 2% rente EN de spaarrekening 2,70 euro per jaar kost?

In [61]:
n = 25 # looptijd, in jaar
kapitaal = 1000 # startkapitaal, in euro
rente = 2 # rente, in procent
onkost = 2.70 # onkost, in euro per jaar

groei

In [62]:
groeifactor = 1 + rente/100
print(groeifactor)

[1] 1.02

na 1 jaar sparen

In [63]:
kapitaal * groeifactor - onkost

[1] 1017.3

na 2 jaar sparen

In [64]:
(kapitaal * groeifactor) * groeifactor - onkost * 2

[1] 1035

na $n$-jaar sparen

In [66]:
opbrengst = kapitaal * (1 + rente/100 ) ** n - onkost * n
winst = opbrengst - kapitaal

In [67]:
round(opbrengst, 2)

[1] 1573.11

In [68]:
sprintf("De opbrengst bedraagt € %.2f, de winst bedraagt €%.2f", opbrengst, winst)

[1] "De opbrengst bedraagt € 1573.11, de winst bedraagt €573.11"

## Alternatief wanneer je de onkost jaarlijks betaalt met de opbrengst
In plaats van elk jaar €2,70 te betalen voor de onkost kan je de onkost ook betalen vanuit de jaarlijkse opbrengst. Je moet dus zelf niet meer bijleggen, het bedrag gaat dan van je jaarlijks kapitaal. De berekening is complexer doordat je grondgetal (kapitaal) continu aangepast wordt. De berekening is [recursief](https://nl.wikipedia.org/wiki/Recursie). Je kan de berekening oplossen door middel van een iteratie, in dit geval een _for-loop_.

In [41]:
kapitaal_ = kapitaal

for (jaar in 1:25) {
    opbrengst = kapitaal_ * (1 + rente/100) - onkost
    winst = opbrengst - kapitaal
    print(sprintf("De opbrengst na jaar %d bedraagt €%.2f, de winst bedraagt €%.2f", jaar, opbrengst, winst))
    kapitaal_ = opbrengst
}

[1] "De opbrengst na jaar 1 bedraagt €1017.30, de winst bedraagt €17.30"
[1] "De opbrengst na jaar 2 bedraagt €1034.95, de winst bedraagt €34.95"
[1] "De opbrengst na jaar 3 bedraagt €1052.94, de winst bedraagt €52.94"
[1] "De opbrengst na jaar 4 bedraagt €1071.30, de winst bedraagt €71.30"
[1] "De opbrengst na jaar 5 bedraagt €1090.03, de winst bedraagt €90.03"
[1] "De opbrengst na jaar 6 bedraagt €1109.13, de winst bedraagt €109.13"
[1] "De opbrengst na jaar 7 bedraagt €1128.61, de winst bedraagt €128.61"
[1] "De opbrengst na jaar 8 bedraagt €1148.49, de winst bedraagt €148.49"
[1] "De opbrengst na jaar 9 bedraagt €1168.76, de winst bedraagt €168.76"
[1] "De opbrengst na jaar 10 bedraagt €1189.43, de winst bedraagt €189.43"
[1] "De opbrengst na jaar 11 bedraagt €1210.52, de winst bedraagt €210.52"
[1] "De opbrengst na jaar 12 bedraagt €1232.03, de winst bedraagt €232.03"
[1] "De opbrengst na jaar 13 bedraagt €1253.97, de winst bedraagt €253.97"
[1] "De opbrengst na jaar 14 bedraagt €1276.35, de winst bedraagt €276.35"
[1] "De opbrengst na jaar 15 bedraagt €1299.18, de winst bedraagt €299.18"
[1] "De opbrengst na jaar 16 bedraagt €1322.46, de winst bedraagt €322.46"
[1] "De opbrengst na jaar 17 bedraagt €1346.21, de winst bedraagt €346.21"
[1] "De opbrengst na jaar 18 bedraagt €1370.43, de winst bedraagt €370.43"
[1] "De opbrengst na jaar 19 bedraagt €1395.14, de winst bedraagt €395.14"
[1] "De opbrengst na jaar 20 bedraagt €1420.34, de winst bedraagt €420.34"
[1] "De opbrengst na jaar 21 bedraagt €1446.05, de winst bedraagt €446.05"
[1] "De opbrengst na jaar 22 bedraagt €1472.27, de winst bedraagt €472.27"
[1] "De opbrengst na jaar 23 bedraagt €1499.02, de winst bedraagt €499.02"
[1] "De opbrengst na jaar 24 bedraagt €1526.30, de winst bedraagt €526.30"
[1] "De opbrengst na jaar 25 bedraagt €1554.12, de winst bedraagt €554.12"